@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

.education-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
}

main {
  width: 80%;
  margin: 0 auto;
}

.academic-year-container {
  padding: 1rem;
}

.academic-year-container h1 {
  margin-bottom: 1rem;
}

.modules-grid {
  --min-column-size: 17rem;
  display: grid;
  gap: 2rem;
  /* responsive grid https://www.youtube.com/watch?v=p3_xN2Zp1TY&ab_channel=KevinPowell */
  grid-template-columns: 
    repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr));
}

.module-card {
  -webkit-box-shadow: 0 0 5px 2px grey;
  -moz-box-shadow: 0 0 5px 2px grey;
  box-shadow: 0 0 5px 2px grey;
  
  position: relative;
  overflow: hidden;
}

.card-header {
  position: relative;
}

img {
  display: block; /* solves issue where image doesn't fill up entire at bottom */
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.institution-logo {
  padding: 1rem;
}

.institution-logo img {
  width: 5rem;
  height: 100%;
  object-fit: scale-down;
}

.star {
  font-size: 1.2rem;
  position: absolute;
  color: #eac54f;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.module-card:not(:has(span.star)) {
  display: none;
}

.module-code {
  font-size: small;
  font-weight: 600;
}

.card-body {
  display: flex;
  flex-direction: column;

  position: absolute; 
  transform: translateY(-30%);
  width: 100%;
  height: 100%;
  padding: .5rem 1rem;
  gap: .3rem;
  background-color: white;
  transition: all 0.5s;
}

.module-card:hover .card-body {
  transform: translateY(-100%);
}


.module-description {
  font-size: small;
}

.module-description, 
.card-footer {
  display: none;
}

.module-card:hover .module-description,
.module-card:hover .card-footer {
  display: block;
}

.card-footer {
  text-align: end;
  font-size: 1.5rem;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
