@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* nav,  */
main {
  width: 80%;
  margin: 0 auto;
}

div {
  /* outline: 1px solid red; */
}


.academic-year-container {
  /* margin-bottom: 2rem; */
  padding: 1rem;
}

.modules-grid {
  --min-column-size: 17rem;
  display: grid;
  gap: 2rem;
  grid-template-rows: repeat(3, 1.5fr);
  /* responsive grid
    https://www.youtube.com/watch?v=p3_xN2Zp1TY&ab_channel=KevinPowell */
  grid-template-columns: 
    repeat(auto-fit, minmax(min(var(--min-column-size), 100%), 1fr));
}

.module-card {
  -webkit-box-shadow: 0 0 5px 2px grey;
  -moz-box-shadow: 0 0 5px 2px grey;
  box-shadow: 0 0 5px 2px grey;
  
  position: relative;
  overflow: hidden;
}

.card-header {
  position: relative;
}

.module-pic {
  max-width: 100%;
}

img {
  display: block; /* solves issue where image doesn't fill up entire at bottom */
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.star {
  font-size: x-large;
  position: absolute;
  color: #eac54f;
  top: 5px;
  right: 10px;
  z-index: 100;
  /* background-color: white;
  border-radius: 50%;
  padding: 0 4px; */
}

.module-code {
  font-size: small;
  font-weight: 600;
}

.card-body {
  display: flex;
  flex-direction: column;

  position: absolute; 
  transform: translateY(-30%);
  width: 100%;
  height: 100%;
  padding: .5rem 1rem;
  gap: .3rem;
  background-color: white;
  transition: all 0.5s;
}

.module-card:hover .card-body {
  transform: translateY(-100%);
}


.module-description {
  font-size: small;
}

.module-description, 
.card-footer {
  display: none;
}

.module-card:hover .module-description,
.module-card:hover .card-footer {
  display: block;
}
