@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --theme-color-1: #023047;
  --icon-margin: 2mm;
  --left-container-flex-width: 0.32;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 3mm;
}

.cv-container {
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto 1cm auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 10px 10px 5px grey;
}

.left-container, 
.right-container,
.top-container,
.bottom-container {
  display: flex;
  flex-direction: column;
}

.left-container, 
.top-container,
.bottom-container {
  padding: 5mm;
}

.left-container {
  flex: var(--left-container-flex-width);
  background-color: var(--theme-color-1);
  color: white;
  gap: 2mm;
}

.right-container {
  flex: calc(1 - var(--left-container-flex-width));
}

.top-container {
  background-color: rgb(212, 212, 212);
  gap: 2mm;
}

.personal-details a:hover {
  text-underline-offset: .4rem;
}

.bottom-container {
  --top-bottom-padding: 3mm;
  background-color: white;
  flex: 1;
  gap: 2mm;
  padding-top: var(--top-bottom-padding);
  padding-bottom: var(--top-bottom-padding);
  overflow: hidden;
}

/* TOP RIGHT HEADER */

.name, 
.interest  {
  text-align: center;
}

.header .name {
  font-size: 2.5rem;
  font-weight: 900;
}

.header .interest {
  font-size: 1rem;
}

.personal-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: .8rem;
  /* padding: 2mm; */
}

.personal-details ion-icon {
  font-size: 1.2rem;
}

.right-container ion-icon {
  margin-right: var(--icon-margin);
}

.personal-details div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* LEFT CONTAINER */

.pfp-container {
  margin: 2mm 7mm;
}

img {
  max-width: 100%;
  clip-path: circle();
  height: auto;
  width: auto;
}

.left-container ion-icon {
  margin-left: var(--icon-margin);
}

section h2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 1mm;
}

section h2 ion-icon {
  font-size: 1.7rem;
}

section h2 span {
  font-size: .9rem;
}

/* align left container subtitles to right */
.left-container section h2 {
  justify-content: flex-end;
}

.skill-bar {
  background: rgba(255, 255, 255, 0.3);
}

.skill-per {
  /* background: #219ebc; */
  background: #8ecae6;
}

.skill-name {
  margin-bottom: -1mm;
}

/* bullets are outside the container for some reason */
ul {
  margin-left: 5mm;
}

.languages-container,
.achievements-container,
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2mm;
}

.projects-container {
  gap: 1mm !important; /* enforces style despite <= specificity */
}

/* RIGHT BOTTOM CONTAINER */

.right-container section h2 span {
  border-bottom: 1px solid black;
  flex: 1;
  padding-bottom: 1mm;
}

.education-item {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
}

.education-date {
  margin-right: 5mm;
}

.education-institution-course {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.education-institution {
  font-weight: bold;
  margin-right: 10mm;
}

.education-course {
  font-style: italic;
}

.project-item-title {
  font-weight: bold;
}

.asterisk {
  color: red;
}

.project-in-progress {
  background-color: var(--theme-color-1);
  border-radius: 2mm;
  color: white;
  padding: 0 1mm;
  font-size: .6rem;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: .7rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

/* MEDIA QUERY FOR PRINTING/DOWNLOADING RESUME */

@media print {
  header, 
  .controls,
  footer {
    display: none;
  }
  
  .cv-container {
    margin: 0 auto;
    /* style visible when printing from iPhone */
    box-shadow: none;
  } 
}