/* https://dev.to/afif/a-scalable-css-only-typewriter-effect-2opn */
.typewrite {
  display:inline-flex;
}

.typewrite span {
  word-break: break-all;
  height: 1.3em;
  width: 100%;
  overflow: hidden;
  animation: typewrite 2s;
}

.typewrite span:before {
  content: " ";
  display: inline-block;
}

@keyframes typewrite{
  from {
    width: 0;
  }
}