/* https://www.youtube.com/watch?v=RroDdybvu5s&t=1401s&ab_channel=Codehal */
@import url('https:fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #081b29;
  color: #ededed;
}

/* https://www.youtube.com/watch?v=K24lUqcT0Ms&t=488s&ab_channel=SlayingTheDragon */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  border: 1px solid red;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 100;
}

.logo {
  margin: 1.5rem;
  margin-right: auto;
}

header a {
  color: #ededed;
  text-decoration: none;
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  height: 50px;
}

nav ul a {
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

nav ul a:hover,
nav ul a.active {
  color: #00abf0;
}

/* https://www.youtube.com/watch?v=ytl6TrroGis&ab_channel=WebDevSimplified */
/* html {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 30px;
} */

/* section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
} */

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 10%; */
}

/* .home-content {
  max-width: 600px;
} */

#greeting {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

/* https://dev.to/afif/a-scalable-css-only-typewriter-effect-2opn */
.typewrite {
  display:inline-flex;
}

.typewrite span {
  word-break: break-all;
  height: 1.3em;
  width: 100%;
  overflow: hidden;
  animation: typewrite 2s;
}

.typewrite span:before {
  content: " ";
  display: inline-block;
}

@keyframes typewrite{
  from {
    width: 0;
  }
}

#occupation {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

#self-introduction {
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2):hover {
  color: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a:nth-child(1):hover {
  color: #00abf0;
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: .5s;
}

.btn-box a:hover::before {
  width: 100%;
}

/* skills section */
/* https://www.youtube.com/watch?v=rp36m6xH3Bw&ab_channel=CodingLab */
.skills-content {
  width: 1200px;
}

#language-skills {
  width: 500px;
}

#technical-skills {
  width: 700px;
}

.skill-box {
  width: 100%;
  margin: 25px 0;
}

.skill-box .skill-title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #ededed;
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0, 171, 240, 0.3);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  /* width: 80%; */
  border-radius: 6px;
  background: #00abf0;
  animation: progress 1s ease-in-out forwards;
  opacity: 0;
}

/* .skill-per.{skill-name} {
  width: {proficiency}%;
} */

@keyframes progress {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: #081b29;
  padding: 2px 6px;
  border-radius: 3px;
  background-color: #00abf0;
}

.tooltip::before {
  content: '';
  position: absolute;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: #00abf0;
  transform: translateX(100%) rotate(45deg);
}

@media (max-width: 35em) {
  header {
    align-items: start;
  }

  nav ul {
    inset: 0 0 0 30%;
    
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    height: 100vh;

    background: hsl(0 0% 100% 0.1);
    backdrop-filter: blur(1rem);
    
  }
}